In [1]:
import pandas as pd

In [2]:
gdp_file = "Resources/GDP_API.csv"

In [3]:
gdp_file_df = pd.read_csv(gdp_file)
gdp_file_df.head()

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Last Updated Date,12/16/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2018.0,2019.0,2020.0
4,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN

In [4]:
new_header = gdp_file_df.iloc[3]
gdp_file_df = gdp_file_df[4:]
gdp_file_df.columns = new_header
gdp_file_df.head(10)

3,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
4,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.701676e+09,2.765363e+09,2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN,NaN
5,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,537777811.1,548888895.6,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780429e+10,2.000160e+10,2.056107e+10,2.048489e+10,1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10,NaN
6,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10,NaN
7,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.289077e+10,1.231983e+10,1.277622e+10,1.322814e+10,1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10,NaN
8,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629204e+09,3.188809e+09,3.193704e+09,3.271808e+09,2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09,NaN
9,Arab World,ARB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.494030e+12,2.773500e+12,2.856370e+12,2.894390e+12,2.534720e+12,2.469440e+12,2.516120e+12,2.771380e+12,2.817410e+12,NaN
10,United Arab Emirates,ARE,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.506660e+11,3.745910e+11,3.901080e+11,4.031370e+11,3.581350e+11,3.570450e+11,3.856060e+11,4.222150e+11,4.211420e+11,NaN
11,Argentina,ARG,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,2.445060e+10,1.827212e+10,2.560525e+10,2.834471e+10,...,5.301630e+11,5.459820e+11,5.520250e+11,5.263200e+11,5.947490e+11,5.575310e+11,6.436290e+11,5.176270e+11,4.454450e+11,NaN
12,Armenia,ARM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.014211e+10,1.061932e+10,1.112147e+10,1.160951e+10,1.055334e+10,1.054614e+10,1.152746e+10,1.245794e+10,1.367280e+10,NaN
13,American Samoa,ASM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.740000e+08,6.440000e+08,6.410000e+08,6.420000e+08,6.610000e+08,6.520000e+08,6.020000e+08,6.360000e+08,NaN,NaN

In [5]:
gdp_file_df.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           1990.0,           1991.0,
                 1992.0,           1993.0,           1994.0,           1995.0,
                 1996.0,           1997.0,           1998.0,           1999.0,
                 2000.0,           2001.0,           2002.0,           2003.0,
                 2004.0,           2005.0,           2006.0,           2007.0,
                 2008.0,           2009.0,           2010.0,           2011.0,
                 2012.0,           2013.0,           2014.0,           2015.0,
                 2016.0,           2017.0,           2018.0,           2019.0,
                 2020.0],
      dtype='object', name=3)

In [6]:
reduced_df = gdp_file_df[[  'Country Name',   'Country Code', 'Indicator Name',                 2015.0,
                 2016.0,           2017.0,           2018.0,           2019.0]]
reduced_df.head()

3,Country Name,Country Code,Indicator Name,2015.0,2016.0,2017.0,2018.0,2019.0
4,Aruba,ABW,GDP (current US$),2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN
5,Afghanistan,AFG,GDP (current US$),1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10
6,Angola,AGO,GDP (current US$),1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10
7,Albania,ALB,GDP (current US$),1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10
8,Andorra,AND,GDP (current US$),2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09

In [7]:
renamed_df = reduced_df.rename(columns={                   2015.0: 2015,
                 2016.0: 2016,           2017.0: 2017,           2018.0: 2018,           2019.0: 2019,})
renamed_df.head()

3,Country Name,Country Code,Indicator Name,2015,2016,2017,2018,2019
4,Aruba,ABW,GDP (current US$),2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN
5,Afghanistan,AFG,GDP (current US$),1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10
6,Angola,AGO,GDP (current US$),1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10
7,Albania,ALB,GDP (current US$),1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10
8,Andorra,AND,GDP (current US$),2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09

In [8]:
renamed_df.count()

3
Country Name      264
Country Code      264
Indicator Name    264
2015              252
2016              251
2017              251
2018              249
2019              230
dtype: int64

In [9]:
renamed_df.round(decimals=0)

3,Country Name,Country Code,Indicator Name,2015,2016,2017,2018,2019
4,Aruba,ABW,GDP (current US$),2.919553e+09,2.965922e+09,3.056425e+09,NaN,NaN
5,Afghanistan,AFG,GDP (current US$),1.990711e+10,1.801775e+10,1.886995e+10,1.835388e+10,1.929110e+10
6,Angola,AGO,GDP (current US$),1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.881570e+10
7,Albania,ALB,GDP (current US$),1.138685e+10,1.186120e+10,1.301969e+10,1.514702e+10,1.527918e+10
8,Andorra,AND,GDP (current US$),2.789870e+09,2.896679e+09,3.000181e+09,3.218316e+09,3.154058e+09
...,...,...,...,...,...,...,...,...
263,Kosovo,XKX,GDP (current US$),6.442916e+09,6.719172e+09,7.245707e+09,7.942962e+09,7.926134e+09
264,"Yemen, Rep.",YEM,GDP (current US$),4.245062e+10,3.093598e+10,2.673614e+10,2.348627e+10,2.258108e+10
265,South Africa,ZAF,GDP (current US$),3.176210e+11,2.963570e+11,3.495540e+11,3.682890e+11,3.514320e+11
266,Zambia,ZMB,GDP (current US$),2.124334e+10,2.095475e+10,2.586817e+10,2.631214e+10,2.330977e+10
267,Zimbabwe,ZWE,GDP (current US$),1.996312e+10,2.054868e+10,2.204090e+10,2.431156e+10,2.144076e+10

In [10]:
renamed_df.to_csv("Output/GDP_API_clean.csv")